#scatterplot {
  display: grid;
  grid-template-areas: "A B"
                       "C C";
  grid-gap: 1em;
}

.axis path,
.axis line {
  fill: none;
  stroke: black;
  shape-rendering: crispEdges;
}

#scatterplot text {
  font-family: sans-serif;
  font-size: 12px;
}

.tick text {
  color: black;
  font-weight: lighter;
}

#legend {
  display: none;
}

#Mild {
  grid-area: A;
}

#Average {
  grid-area: C;
  max-width: 50%;
  margin: 0 auto;
}

#Severe {
  grid-area: B;
}
