#stackedLinePlot {

font-family: sans-serif;

  width:100%;
  display: flex;
}

#stackplot {
  width:50%;
  position:absolute;
}

#stackplotLegend {

  border: none;
  width: 55%;
  display: flex;
  margin-left:78%;
}
